<!DOCTYPE html>
<html>
  <head>
    <title>Programación II</title>
  </head>
  <body>
    <h1> <%= title %> </h1>
  <p>Nombre: Kelvin Maure</p>
<p> Sección "1"</p>
<p> C.I: 27.863.836</p>
  </body>
</html>
