<html>
 
<body bgcolor="			#F5F5F5">
 
<table border="1" align="center" cellpadding="10" width="800">
<tr>
    <th colspan = "7" bgcolor = "Black" style="color: #FFFAF0"> Mi perfil </ th>
</tr>
 
<tr>
         <th bgcolor = "white"> Nombre: </ th>
         <td> Kelvin J. González M.</ td>   
         <td rowspan="5" width="30" p style="position: relative; left: 75px"><a href="/stylesheets/Curriculum.JPG"><img border="0" style="position:relative;" src="/stylesheets/Curriculum.JPG" />  

</tr>
 <tr>
 	<th bgcolor="black" style="color: #FFFAF0"> C.I: </th>
 	<td>27.863.836</td>
 </tr>
<tr>
         <th bgcolor = "white"> Fecha de nacimiento: <p>Edad:</p> </ th>
    <td>23/02/2000 <p>22 años</p></td>
      
</tr>
 <tr>
       
      <th bgcolor = "black" style="color: #FFFAF0"> Lugar de nacimiento: </ th>
         <td> Maracay-Edo Aragua </ td>
</tr>
<tr>
         
         
</tr>
 
<tr>
           <th bgcolor = "white"> Dirección: </ th>
           <td> Calle Ezequiel Zamora, Casa 13-1 </ td>
           <th bgcolor = "black" style="color: #FFFAF0"> Telefonos </ th>
           <td> 0412-889-37-74 <p> 0244-386-32-24</p> </ td>
          </td>
</tr>
 
<tr>
           <th height = "160" bgcolor = "black" style="color: #FFFAF0"> Estudios Realizados: </ th>
     <td colspan="6">
       <p> > Primaria: U.E.E Simon Rodríguez - Edo Aragua </ p>
       <p> > Secundaria: U.E.T.P San Luis Rey, Tecnico Medio Mencion Mecanica Automotriz - Edo Aragua </ p>
       <p> > Universidad: Universidad Romulo Gallegos, San juan - Edo Guarico </ p>
    </td>
</tr>
 <tr>
 	<th height="30" bgcolor="white"> Experiencia Laboral</th>
 	<td colspan="6">
 		Taller de Mecanica Automotriz (Tecni Servicios Ares C.A.) durante 3 meses como Asistente Mecanico
 		
 	</td>
 </tr>
<tr>
           <th height = "160" bgcolor = "black" style="color: #FFFAF0"> Redes </ th>
     <td colspan="6">
         <p> > Facebook: https://www.facebook.com/kelvin.maure </ p>
         <p> > Instagram: https://www.instagram.com/kelvinmaure/</ p>
         <p> > Correo: josemaure2018@gmail.com</ p>
</tr>
 
<tr>
           <th height = "160" bgcolor = "white"> Habilidades y Destrezas </ th>
     <td colspan="6">
         <p> > Responsabilidad <br> > Capacidad de trabajar en equipo <br> > Creativo <br> > Solucion de problemas <br> > Empatía <br> > Organizacion <br> > Flexibilidad</ p>
         <p> </ p>
         <p> </ p>
</tr>
 
</body>
 
</html>